.heroImage {
  position: relative;
  width: 100vw;
  height: 400px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.image {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1055px;
    background: #F6F6F6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    padding-bottom: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    gap: 40px;
}

.restaurantHeader {
    font-family: var(--font-shrikhand);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-top: 50px;
    
}

.menuContainer {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
}

.menuContainer h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 100;
}

.menuContainer h3::before {
    content: "";
    position: absolute;
    bottom: 5%;
    width: 45px;
    background-color: #99E2D0;
    height: 3px;

}

.cta {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}